<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <span (mouseleave)="menuTrigger.closeMenu()">
      <button mat-menu-item>
        <mat-icon>event_list</mat-icon>
        <span><a routerLink="/events" class="nav-link" href="#" class="a-item">Eventos</a></span>
  </button>
  <button mat-menu-item>
        <mat-icon>image</mat-icon>
        <span><a routerLink="/list-certificate" class="nav-link" href="#" class="a-item">Certificados</a></span>
      </button>
  </span>
  </mat-menu>
  </span>
  <span class="fill-remaining-space">Cadeia Alimentar Assarte</span>
</mat-toolbar>
